---
layout: layouts/blank.njk
---

<div class="container my-vh-6">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-4 text-center">
      <h1 class="display-3 fw-bolder">
        Wisconsin Postdoc Expo
      </h1>
      <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <a class="btn btn-primary px-5 py-3 me-4 position-relative" href="https://gumroad.com/l/WPeVF" target="_blank" rel="noopener" >Register Now</a>
      <a class="link-fancy py-2" href="#">Learn More
      </a>
    </div>
  </div>
</div>

<div class="wrapper position-relative my-vh-5 bg-light text-dark">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-4">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5">
        <h2 class="h2">Choose the right Postdoc</h2>
        <p>Lorem ipsum dolor sit amet, at est ferri saepe consequat. Mel ea tation prompta signiferumque, voluptaria incorrupte et nec. Quis legendos ea sed, vis nusquam efficiendi id, at cum facilis periculis. Tale movet usu cu. Aliquam volumus mel an.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Taking ownership of your research career</h2>
        <p>Lorem ipsum dolor sit amet, at est ferri saepe consequat. Mel ea tation prompta signiferumque, voluptaria incorrupte et nec. Quis legendos ea sed, vis nusquam efficiendi id, at cum facilis periculis. Tale movet usu cu. Aliquam volumus mel an.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Q&A with current WI Postdocs</h2>
        <p>Lorem ipsum dolor sit amet, at est ferri saepe consequat. Mel ea tation prompta signiferumque, voluptaria incorrupte et nec. Quis legendos ea sed, vis nusquam efficiendi id, at cum facilis periculis. Tale movet usu cu. Aliquam volumus mel an.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Careers after your Postdoc</h2>
        <p>Lorem ipsum dolor sit amet, at est ferri saepe consequat. Mel ea tation prompta signiferumque, voluptaria incorrupte et nec. Quis legendos ea sed, vis nusquam efficiendi id, at cum facilis periculis. Tale movet usu cu. Aliquam volumus mel an.</p>
      </div>
    </div>
  </div>
</div>
</div>
